/*Unicamente se trabaja los detalles generales del index*/
*{
	
	box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

body{
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #F9FAFB;
	color: #222222;
	font-family: 'Roboto', sans-serif;
	overflow-x: 0;
}
h2,h3{
	font-family: 'Montserrat', sans-serif;
}
.Info_menu, .portada{
	display: none;
	opacity: 0;
}
.Show{
	display: block;
	animation: fadeIn 0.6s ease-in-out forwards;
}
@keyframes fadeIn{
	from {opacity: 0;}
	to   {opacity: 1;}
}
.Information{
	
	height: 100vh; 
	width: 100vw;
}
section {
	padding-bottom: 50px;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px; /* Puedes ajustar la altura */
	background-color: #F9FAFB;
	color: #222;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	line-height: 40px; /* Centra el texto verticalmente */
	border-top: 1px solid #ccc;
	z-index: 1000; /* Evita que quede debajo de otros elementos */
}

header, footer {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

body.loaded header,
body.loaded footer {
  opacity: 1;
}