.redes_sociales{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
}
#social_medias{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 75px;
    width: auto;
    border-radius: 50%;
    
}
img{
    padding: 10px;
    height: 60px;
}